# Supabase credentials
SUPABASE_URL=https://iewjtoeuvejhhganyqhf.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlld2p0b2V1dmVqaGhnYW55cWhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDg4NzAzMjgsImV4cCI6MjA2NDQ0NjMyOH0.kEcUepX8vjMaddw-_khaJBtZiwG1uANO2ymCFSTCPiI

# Server settings
PORT=8000
HOST=0.0.0.0

# Cloudinary for image storage
CLOUDINARY_CLOUD_NAME=dldxkhyvh
CLOUDINARY_API_KEY=588295732818698
CLOUDINARY_API_SECRET=8jeF3Sf5biFRlmmb4w7H8vGjBLc
